/* where is this file is supposed to live */
* {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  display: block;
  padding: 25px;
  margin-top: 20%;
}

.buttons {
  display: block;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100px;
}

.shit, .credit {
  text-align: center;
}

.credit {
  display: block;
  font-style: italic;
}
