extends ../layout

block body
  form(method='POST' action='/quotes')
    label(for='quote') Quote
    input#quote(type='text' name='quote')
    input(type='submit' value='Submit')
  a(href='/quotes') See all quotes